# 여러 서비스 한꺼번에 실행
# version: '3.8'

services:
  fastapi:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    

  worker:
    build: .
    container_name: celery_worker
    command: celery -A src.celery_app.celery_app worker --loglevel=info --pool=solo
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      
  redis:
    image: redis:6
    container_name: redis_broker
    ports:
      - "6379:6379"
      
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: kjune922
      POSTGRES_PASSWORD: dlrudalswns2
      POSTGRES_DB: cloud_ai
    ports:
      - "5432:5432"
  
  ollama:
    image: ollama/ollama:latest
    container_name: ollama_server
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 8G
volumes:
  ollama_data: